{% extends 'core/base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Casa</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
    <div class="row">
    <div class="col-12">
      <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Main info
        <div class="card-actions">
          <a href="" target="_blank">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="jumbotron bg-white">
          <h1 class="display-4">Bienvenido a RanoKau Agrotech!</h1>
          <p class="lead">Pagina creada como administrador de proyectos.</p>
          <hr class="my-4">
          <p>Registra tu proyecto/empresa para comenzar</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'projects:new-project' %}" role="button">Registra tu proyecto!</a>
          </p>
          {% if not user.is_authenticated %}
          <a href="{% url 'core:login' %}">Si ya estas registrado, haz click aquí</a>
          {% endif %}
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}