{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">New Project</li>
{% endblock breadcrumb%}





{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5">
                        <div class="card-body">
                            {% if created %}
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  Felicitaciones, tu proyecto fue creado!
                              </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1 style = "font-size:50px">Rano Project</h1>
                                <p class="text-muted" style = "font-size:25px">¡Crea tu proyecto de cultivo aquí!</p>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-form-label"><h5>Nombre del Proyecto</h5></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>

                                        {{ form.name }}
                                        {% if form.name.errors %}
                                            <ol>
                                            {% for error in form.name.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label"><h5>Tipo de Cultivo</h5></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.plant_type }}
                                        {% if form.plant_type.errors %}
                                            <ol>
                                            {% for error in form.plant_type.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label"><h5>Numero de Plantas</h5></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.num_plants }}
                                        {% if form.num_plants.errors %}
                                            <ol>
                                            {% for error in form.num_plants.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                    <div class="form-group">
                                    <label class="col-form-label"><h5>Superficie de Cultivo (m2)</h5></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.area }}
                                        {% if form.area.errors %}
                                            <ol>
                                            {% for error in form.area.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                       <div class="form-group">
                                    <label class="col-form-label"><h5>Participantes</h5><i>(Crtl+click para asignar multiples usuarios)</i></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-users"></i></span>
                                        </div>
                                        {{ form.assign }}
                                        {% if form.assign.errors %}
                                            <ol>
                                            {% for error in form.assign.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                        </div>
                                
                                <div class="form-group">
                                    
                                    <label class="col-form-label"><h5>Ubicacion</h5></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-map"></i></span>
                                        </div>
                                        {{form.address}}
                                        {% if form.address.errors %}
                                            <ol>
                                            {% for error in form.address.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                        <!--
                                        <button class="btn btn-outline-success my-2 my-sm-0 mx-0" type="submit">Buscar</button>
                                        </li>
                                        <button  class="btn btn-outline-success my-2 my-sm-0 mx-0" type="button" onclick=myFunction()>Buscar</button><br>
                                        <p id="demo"></p>
                                        -->
                                    </div>
                                    <!--
                                    <div  id= "mapa">
                                   <div class="container">
                                        <div class="row mt-4">
                                            <div class="col-md-10 offset-md-1">
                                                {{ m|safe }}
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                                    -->
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label"><h5>Rano Devices</h5></label><br>
                                           <input type="checkbox" id="device1" name="Rano Scanner" value="Rano Scanner">
                                            <label for="device1"> Rano Scanner </label><br>
                                           <input type="checkbox" id="device2" name="Rack Client" value="Rack Client">
                                            <label for="device2"> Rack Client </label><br>
                                           <input type="checkbox" id="device3" name="Environment Client" value="Environment Client">
                                            <label for="device3"> Environment Client </label><br><br>
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Registrar</button>
                                    <!--
                                    
                                    <a class="btn btn-primary btn-lg" href="{% url 'projects:confirmation-new-project' %}" role="button">¡Crear Proyecto!</a>
                                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Resetear</button>
                                    -->
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}