{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Projects</li>
        <li class="breadcrumb-item active">New Project</li>
{% endblock breadcrumb%}





{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card-group">
                    <div class="card p-4 mb-5">
                        <div class="card-body">
                            {% if created %}
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  Felicitaciones, tu proyecto fue creado!
                              </div>
                            {% endif %}
                                {% csrf_token %}
                                <h1>Rano Project</h1>
                                <p class="text-muted">Crea tu proyecto de cultivo  aca</p>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>

                                        {{ form.name }}
                                        {% if form.name.errors %}
                                            <ol>
                                            {% for error in form.name.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                                                <div class="form-group">
                                    <label class="col-form-label">Tipo de Cultivo</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.plant_type }}
                                        {% if form.plant_type.errors %}
                                            <ol>
                                            {% for error in form.plant_type.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                                                <div class="form-group">
                                    <label class="col-form-label">Numero de plantas</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.num_plants }}
                                        {% if form.num_plants.errors %}
                                            <ol>
                                            {% for error in form.num_plants.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                                                                                <div class="form-group">
                                    <label class="col-form-label">Superficie de Cultivo (m2)</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-circle"></i></span>
                                        </div>
                                        {{ form.area }}
                                        {% if form.area.errors %}
                                            <ol>
                                            {% for error in form.area.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                       <div class="form-group">
                                    <label class="col-form-label">Asigna los participantes del proyecto. <i>Crtl+click for multiple selection</i></label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-users"></i></span>
                                        </div>
                                        {{ form.assign }}
                                        {% if form.assign.errors %}
                                            <ol>
                                            {% for error in form.assign.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                                                                                                                           <div class="form-group">
                                <div class="form-group">
                                    <!--
                                    <label class="col-form-label">Ubicacion</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-map"></i></span>
                                        </div>
                                        {{form.address}}
                                                                            {% if form.address.errors %}
                                            <ol>
                                            {% for error in form.address.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                        <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Buscar</button>
                                    </div>
                                   <div class="container">
                                        <div class="row mt-4">
                                            <div class="col-md-10 offset-md-1">
                                                {{ m|safe }}
                                            </div>
                                        </div>
                                    </div>-->


                                    <!--Otro intento de mapa



                                    <h2>Find Your Location in below Map</h2> 
                                    <button onclick="getlocation();"> Show Position</button> 
                                    <div id="demo" style="width: 600px; height: 400px; margin-left: 200px;"></div> 
                                
                                    <script src="https://maps.google.com/maps/api/js?sensor=false"> </script> 
                                    
                                    <script type="text/javascript"> 
                                    function getlocation(){ 
                                        if(navigator.geolocation){ 
                                            navigator.geolocation.getCurrentPosition(showPos, showErr); 
                                        }
                                        else{
                                            alert("Sorry! your Browser does not support Geolocation API")
                                        }
                                    } 
                                    //Showing Current Poistion on Google Map
                                    function showPos(position){ 
                                        latt = position.coords.latitude; 
                                        long = position.coords.longitude; 
                                        var lattlong = new google.maps.LatLng(latt, long); 
                                        var myOptions = { 
                                            center: lattlong, 
                                            zoom: 15, 
                                            mapTypeControl: true, 
                                            navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL} 
                                        } 
                                        var maps = new google.maps.Map(document.getElementById("demo"), myOptions); 
                                        var markers = 
                                        new google.maps.Marker({position:lattlong, map:maps, title:"You are here!"}); 
                                    } 

                                    //Handling Error and Rejection
                                        function showErr(error) {
                                        switch(error.code){
                                        case error.PERMISSION_DENIED:
                                        alert("User denied the request for Geolocation API.");
                                        break;
                                        case error.POSITION_UNAVAILABLE:
                                        alert("USer location information is unavailable.");
                                        break;
                                        case error.TIMEOUT:
                                        alert("The request to get user location timed out.");
                                        break;
                                    case error.UNKNOWN_ERROR:
                                        alert("An unknown error occurred.");
                                        break;
                                    }
                                    }        </script> -->
                                </div>

                                <div class="">
                                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Registrar</button>
                                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Resetear</button>
                                </div>
                            </form>
                            {{ form.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}